.description_box {
  border-bottom: outset;
  border-radius: 15px;
  display: flex;
  align-items: center;
  width: 400px;
  height: 30px;
}

.description_box_small {
  border-bottom: outset;
  border-radius: 15px;
  display: flex;
  align-items: center;
  width: 250px;
  height: 30px;
}

.description_text {
  font-style: italic;
  font-weight: bold;
  vertical-align: middle;
  padding-left: 2%;
  width: 90%;
  font-size: small;
}

.expand_button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 60%;
  border:none;
}
